---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nirlep - Posts">
    <Navbar active="posts" />
    <h1>WORK IN PROGRESS</h1>
</Layout>
